.fullSize {
    display:flex;
    width:100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar {
    display:flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color:lightgrey;
    min-height: 85vh;
}

.mainBody {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: grey;
    min-height: 85vh;
    margin: auto
}

.gameBoard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessPiece {
    max-width: 90%;
    max-height: 90%;
}

.white {
    filter:invert(100%);
}

.whiteBoardSquare {
    flex:1;
    background-color: sandybrown;
}

.transparent{
    opacity: 0%;
}

.blackBoardSquare {
    flex:1;
    background-color: saddlebrown;
}



